* {
  box-sizing: border-box;
  font-family: sans-serif;
}
.container-div {
  display: flex;
  justify-content: center;
}
.calculator-frame {
  display: flex;
  background-color: black;
  height: 650px;
  width: 400px;
  flex-wrap: wrap;
  align-content:  flex-end;
  justify-content: space-between;
}
.calculator-display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 50px;
  color: white;
  height: 99px;
  width: 400px;
  padding-right: 10px;
}
.button-clear {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  height: 107.5px;
  width: 200px;
  font-size: 55px;
  margin-top: 1px;
}
.button-back {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  height: 107.5px;
  width: 98.5px;
  font-size: 55px;
  margin-top: 1px;
}
.button-division {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  height: 107.5px;
  width: 97.5px;
  color: white;
  font-size: 55px;
  margin-top: 1px;
}
.button-number{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  height: 107.5px;
  width: 99px;
  font-size: 55px;
  margin-top: 1px;
}
.button-zero{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  height: 107.5px;
  width: 301px;
  font-size: 55px;
  margin-top: 1px;
}
.button-division-equal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  height: 107.5px;
  width: 98px;
  color: white;
  font-size: 55px;
  margin-top: 1px;
}
